<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{{ description }}" />
        <meta name="generator" content="Eleventy" />


        <link rel="stylesheet" type="text/css" href="/styles/globals.css" />
        <link rel="stylesheet" type="text/css" href="/styles/cube.css" />

        <title>{{ title }} {{ "|" if title }} Lewis Writes Software</title>
    </head>
    <body>
        <header class="wrapper row-wrap">
            <a href="/" class="heading">LWS</a>
            
            <ul role="list" class="row">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/work">How I work</a></li>
                <li><a href="/contact">Get in touch</a></li>
            </ul>
        </header>
		<main class="wrapper stack-lg">
			{{ content | safe }}
		</main>
		<footer class="text-center text-base mb-size-0">
		  <p>Copyright &copy; 2022 Lewis Writes Software</p>
		  <p>Lewis Writes Software is a trading name of IHD Software Consultancy Ltd</p>
	</body>
</html>